
<div class="row">
		<div class="col-md-4  col-md-offset-1">
			<h1 class="text-center"><%= @randmovie1["Title"] %></h1>
		</div>

		<div class="col-md-1">
			<h1><strong><em> VS. </em></strong></h1>
		</div>

		<div class="col-md-4">
			<h1 class="text-center"><%= @randmovie2["Title"] %></h1>
		</div>
</div>

<div class="row">
		<div class="col-md-4 col-md-offset-1">
			<h2 class="text-left"><%= @randmovie1["Year"] %></h2>
		</div>
		<div class="col-md-4 col-md-offset-1">
			<h2 class="text-right"><%= @randmovie2["Year"]%></h2>
		</div>
</div>

<div class="row">
		<div class="col-md-4 col-md-offset-1">
			<p class="text-justify"><%= @randmovie1["Plot"] %></p>
		</div>
		<div class="col-md-4 col-md-offset-1">
			<p class="text-justify"><%= @randmovie2["Plot"] %></p>
		</div>
</div>

<div class="row">
		<div class="col-md-4 col-md-offset-1">
			<%= image_tag("#{@randmovie1["Poster"]}") %>
		</div>
		<div class="col-md-4 col-md-offset-1">
			<%= image_tag("#{@randmovie2["Poster"]}", align: "right") %>
		</div>
</div>
</div>
